@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rubik;
}

span {
    color: orange;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h2 {
    font-size: 25px;
    color: #000000;
    font-weight: 800;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 17px;
    font-weight: 500;
    font-family: rubik;
    color: black;
    gap: 20px;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-size: 17px;
    color: orange;
    margin-right: 10px;
    font-weight: 500;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
    margin: auto;
}

.image {
    width: 500px;
    height: 500px;
}

.left_content {
    display: inline-block;
}

.left_content h3 {
    font-weight: 800;
    font-size: 40px;
    width: 55%;
}

.left_content p {
    font-size: 17px;
    color: grey;
    margin-bottom: 5px;
    font-weight: 600;
}

.button-class {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button-class p {
    font-family: rubik;
    font-size: 15px;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.502);
}

.button-01 {
    background-color: orange;
    border: none;
    border-radius: 4px;
    box-shadow: #fff 50px 50px 100px 0px, #000 4px 4px 0 1px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 5px 10px 0;
    overflow: visible;
    padding: 13px 20px;
    text-align: center;
    vertical-align: middle;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    display: none;
}

.sidebar .xmark {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sidebar .login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-buttons i {
    display: none;
}

.course {
    margin-top: 50px;
    background-color: orange;
    padding: 30px 0px 30px 0px;
}

.ourcourses {
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0px 30px 0px;
    padding: 10px;
}

.card {
    border: 2px solid black;
    width: 270px;
    height: 270px;
}

.card img {
    width: 250px;
    height: 150px;
}

.card-text {
    font-weight: bold;
    font-size: 18px;
    margin: 3px 0px 3px 0px;
}

.card-para {
    margin: 3px 0px 3px 0px;
}

.whyus {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    width: 55%;
}

.whyus p {
    width: 350px;
    color: rgba(128, 128, 128, 0.7);
    font-weight: lighter;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.block i {
    margin: 0px 0px 20px 0px;
}

.block h5,
p {
    margin: 5px 0px 5px 0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}
.feature_section{
    padding: 40px;
}

.special{
    background-color: rgba(255, 166, 0, 0.813);
    width: 520px;
    height: 200px;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
}

.special h5{
    font-size: 30px;
    font-weight: bold;
    color: white;
    
}

.special h6{
    font-size: 25px;
    color: white;
    font-weight: 700;
}
.special button{
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #000;
    font-size: 13px;
    bottom: 10;
    margin-top: 35px;
    color: white;
}

.row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.certificate{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.537);
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 250px;
    height: 200px;
    padding: 20px;
}

.certificate img{
    width: 65px;
    height: 65px;
}

.certificate h5{
    font-size: 20px;
}

.certificate p{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.521);
}

.row-2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}